.carousel-item {
  height: auto;
  background: #0c0c0c;
  color: white;
  position: relative;
  height: 36rem;
  padding-left: 0 ;
  padding-right: 0;
  margin-top: 5%;
}
/*.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}*/
.carousel > .carousel-inner > .carousel-item > img {
  width: 50%;
}
.carousel-item {
  background: transparent;
}
