<section id="galeria" class="container" style="padding-top: 12%;">
    <div>
        <h1>Galeria de Fotos</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="assets/Galeria/imagen1.jpg" alt="Imagen 1">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="assets/Galeria/imagen2.jpg" alt="Imagen 2">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="assets/Galeria/imagen3.jpg" alt="Imagen 3">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="assets/Galeria/imagen4.jpg" alt="Imagen 4">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="assets/Galeria/imagen5.jpg" alt="Imagen 5">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="assets/Galeria/imagen6.jpg" alt="Imagen 6">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="assets/Galeria/imagen7.jpg" alt="Imagen 7">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="assets/Galeria/imagen8.jpg" alt="Imagen 8">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="assets/Galeria/imagen9.jpg" alt="Imagen 9">
        </div>
    </div>
   
</section>
 