<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <a class="navbar-brand" routerLink="/inicio"><img src="assets/Logo/logo-negro.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/inicio">Inicio <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/servicios">Servicios</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/galeria">Galeria de Fotos</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/reservas">Reserva de Espacios</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/contacto">Contacto</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/login">Login trabajadores</a>
            </li>
        </ul>
    </div>-->


<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio"><img src="assets/Logo/logo-negro.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/inicio">Inicio <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/servicios">Servicios</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/galeria">Galeria de Fotos</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reserva de Espacios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/futbolito">Canchas Futbolito</a></li>
              <li><a class="dropdown-item" href="#">Canchas Futbol-Tenis</a></li>
            </ul>
          </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/login">Login trabajadores</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
