<div class="container" style="padding-top: 8%;">
<img src="assets/Flyer/portada.png" width="100%" alt="">
       
        <div style="float: left;">
            <h1>
                Todas las consultas que tengas,
            </h1>
            <h2>
                te ayudaremos a resolverlas...
            </h2>
            <h3>
                Por favor,
            </h3>
            <h4>no dudes en comunicarte con nosotros</h4>
        </div>
        <div id="infoContacto" style="float: right;">
            <h5>Dirección</h5>
            <a href="https://goo.gl/maps/LghyR6PZS2KC8RyU8">Calle Eusebio Lillo #341 / Valparaiso, Chile</a>
            <h5>Email</h5>
            <a href="mailto:canchasdefutbolitoeusebiolillo@gmail.com">canchasdefutbolitoeusebiolillo@gmail.com</a>
            <h5>Teléfono</h5>
            <p>+56990802453</p>
        </div>

        
    


</div>