

img {
  position: relative;
  left: 10%;
  bottom: 0%;
  padding-bottom: 5%;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  position: relative;
  bottom: 30%;
  left: 5%;
}