

img {
  width: max-content;
  margin-left: 6%;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  position: relative;
  bottom: 30%;
  left: 5%;
}


p{
  font-family: 'Roboto', sans-serif;
}

#text{
  margin-top: 8%;
}