<div class="container" style="padding-top: 6%;">
    <img src="assets/Flyer/falta-uno.jpg" alt="">

    <br>

    <div class="container" id="text">
        
        <p> El establecimiento cuenta con una cancha
            principal de futbolito con capacidad máxima de 12 jugadores, asimismo, cuenta con otra cancha para el
            desarrollo
            de futbol tenis, cuya área también se dispone para realizar entrenamiento funcional para lo cual se posee
            implementos para la ejercitación, todo esto bajo supervisión de un profesional. Este establecimiento,
            además,
            posee una zona que cuenta con duchas y baños para los deportistas que requieran su uso y junto a estos se
            encuentra un quiosco que dispone bebidas, comestibles y snacks para venta al público.
        </p>
        <p>
            Por último, además de proporcionar un espacio deportivo, también se dispone de un sector para desarrollar
            eventos sociales, el cual provee de quinchos y mesas en primera instancia, y si se requiere el desarrollo de
            un
            evento especial también se cuenta con el préstamo de artículos de entretención como cama elástica, taca-
            taca,
            juegos inflables, entre otros.</p>

    </div>
</div>