img {
  width: fit-content;
  position: relative;
  align-items: center;
  left: 10%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: auto-fit;
  position: relative;



}


p {
  font-family: 'Roboto', sans-serif;
  position: relative;
  //left: 50%;
  width: 100%;
  //font-size: 40px;
  text-align: center;
}





// Extra large devices (large desktops, 1200px and up)



/*
@media (min-width: 425px) and (max-width: 768px){
    .container{
      left: 0%;
    }

    p{
      font-size: 26px;
    }

}

@media (max-width: 320px) {
 
  p{
    font-size: 34px;
  }
  

}*/

@media (min-width: 320px) and (max-width: 768px){
    p{
      font-size: 24px;
      left: 2%;
      right: 5%;
    }
    img{
      left: 1%;
      top: 8%;
    }
}