<div class="container">
    <div class="logo">
        <img src="assets/Logo/logo-negro.png" alt="">
    </div>
    <div>
        <p>Canchas de Futbolito Eusebio Lillo, tiene como principal objetivo crear un espacio y ambiente confortable de
            recreación para el deporte, enseñando a crear una competencia sana. Esto consiste en jugar y divertirse
            dentro del terreno de juego, sin crear sentimientos negativos a la hora de perder y enfatizar que lo
            importante no es ganar, sino divertirse.
        </p>
        <br>
    </div>
    <div class="mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1672.1944278628555!2d-71.602942!3d-33.046228!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe8b4c7395f4727c2!2sCancha%20Eusebio%20Lillo!5e0!3m2!1ses!2sus!4v1630515424695!5m2!1ses!2sus"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>