label {
  color: whitesmoke;
  margin-right: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

button {
  gap: 20px;
  width: 100px;
  height: 100px;
}

.active {
  background-color: #666;
  color: white;
}

i{
  color: rgb(230, 224, 224);
}