h1{
  position: relative;
  right: 5%;
}

label, p {
  color: white;
  margin-right: 10px;
}

#btn-Back{
  position: relative;
  right: 50%;
  
}
.wrapper {
    display: grid;
    grid-template-columns:  1fr;
    margin: 0px;
    gap : 1em;
    padding-left: 15%;
    position: relative;
    right: 10%;
  }
  
  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 1em;
  }

  .buttons{
      position: relative;
      left: 15%;
      padding-left: 15%;
      padding-top: 2%;
      gap: 10%;
  }


.active {
  background-color: #666;
  color: white;
}

i{
  color: rgb(230, 224, 224);
}