.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tabla{
    background: whitesmoke;
}
th{
  font-family: 'Roboto', sans-serif;
  color: #666;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  right: 0%;
  gap: 1em;
}

.buttons{
  padding-left: 33%;
  padding-top: 2%;
  gap: 10%;
}

