.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tabla{
    background: whitesmoke;
}
th{
  font-family: 'Roboto', sans-serif;
  color: #666;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  
  position: relative;
  right: 0%;
  gap: 1em;
}

.buttons{
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

