h1{
  margin-left: 0%;
  padding-right: 20%;
  margin-bottom: 0;
  text-align: center;
}

#btn-Back{
  position: relative;
  right: 60%;
  
}
.wrapper {
    display: grid;
    grid-template-columns:  1fr;
    margin: 0px;
    gap : 1em;
    padding-left: 15%;
  }
  
  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    right: 10%;
    gap: 1em;
  }

  .buttons{
    position: relative;
    right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap :20px;
  }
  th{
    font-family: 'Roboto', sans-serif;
    color: #666;
  }