<div class="container" style="padding-top: 8%;">
    <h1>Nómina Trabajadores</h1>
    <button class="btn" routerLink="/menu-principal"><i class="fas fa-arrow-circle-left"> Menu Principal</i></button>
    <div class="wrapper">
        <div class="inputs">
            <label>RUT : <input id="rut" type="text" placeholder="Rut del Trabajador"
                    [(ngModel)]="newTrabajador.rut"></label>
            <br>
            <label>Nombre trabajador : <input id="nombre" type="text" placeholder="Trabajador"
                    [(ngModel)]="newTrabajador.nombre"></label>
            <br>
            <label>Dirección : <input id="direccion" type="text" placeholder="Domicilio"
                    [(ngModel)]="newTrabajador.direccion"></label>
            <br>
            <label>Telefono: <input id="telefono" type="number" placeholder="numero de contacto"
                    [(ngModel)]="newTrabajador.fono"></label>
            <br>

        </div>
        <div class="buttons">
                    <button class="btn btn-success" (click)="addOrEditTrabajador()">Agregar o Editar Trabajador</button>
                    <button *ngIf="newTrabajador.idTrabajador !== 0" class="btn btn-danger" (click)="delete()" >Eliminar Trabajador</button>
            </div>
    </div>
    <br>
    <div class="table-responsive">
            <table  class="table table-hover table-dark" >
                    <tr>
                            
                            <th scope="col">id</th>
                            <th scope="col">RUT</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Teléfono</th>                            
                    </tr>
                    <tbody>
                            <tr *ngFor="let trabajador of ArrayTrabajadores" (click)="openForEdit(trabajador)" [class.active]="newTrabajador == trabajador">
                                    <td>{{trabajador.idTrabajador}}</td>
                                    <td>{{trabajador.rut}}</td>
                                    <td>{{trabajador.nombre}}</td>
                                    <td>{{trabajador.direccion}}</td>
                                    <td>{{trabajador.fono}}</td>                                    
                            </tr>
                    </tbody>
            </table>
    </div>

</div>