<div class="container" style="padding-top: 8%;">
        <h1>Nómina Trabajadores</h1>
        <div class="wrapper">
                <button class="btn" id="btn-Back" routerLink="/menu-principal"><i class="fas fa-arrow-circle-left"> Menu
                                Principal</i></button>
                <div class="inputs">
                        <input id="rut" type="text" placeholder="Rut del Trabajador" [(ngModel)]="newTrabajador.rut">
                        <input id="nombre" type="text" placeholder="Trabajador" [(ngModel)]="newTrabajador.nombre">
                        <input id="direccion" type="text" placeholder="Domicilio" [(ngModel)]="newTrabajador.direccion">
                        <input id="telefono" type="number" placeholder="numero de contacto"
                                [(ngModel)]="newTrabajador.fono">
                        <input id="salario" type="number" placeholder="Salario del Trabajador" [(ngModel)]="newTrabajador.salario">
                        <input type="password" id="passwd" placeholder="Contraseña" [(ngModel)]="newTrabajador.passwd">              
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Administrador: {{newTrabajador.isAdmin}}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" (click)="setAdmin(true)">SI</a></li>
                                        <li><a class="dropdown-item" (click)="setAdmin(false)">NO</a></li>
                                        
                                </ul>
                        </div>                      
                </div>
                <div class="buttons">
                        <button class="btn btn-success" (click)="addOrEditTrabajador()">Agregar o Editar
                                Trabajador</button>
                        <button *ngIf="newTrabajador.id !== 0" class="btn btn-danger" (click)="delete()">Eliminar
                                Trabajador</button>
                </div>
        </div>
        <br>
        <div class="table-responsive">
                <table class="table table-hover table-dark">
                        <tr>
                                <th scope="col">id</th>
                                <th scope="col">RUT</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Admin?</th>

                        </tr>
                        <tbody>
                                <tr *ngFor="let trabajador of ArrayTrabajadores" (click)="openForEdit(trabajador)"
                                        [class.active]="newTrabajador == trabajador">
                                        <td>{{trabajador.id}}</td>
                                        <td>{{trabajador.rut}}</td>
                                        <td>{{trabajador.nombre}}</td>
                                        <td>{{trabajador.direccion}}</td>
                                        <td>{{trabajador.fono}}</td>
                                        <td>{{trabajador.isAdmin}}</td>

                                </tr>
                        </tbody>
                </table>
        </div>
</div>