<div class="container" style="padding-top: 8%;">
  <div class="wrapper">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Buscar por: {{sortBy}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" (click)="SortBy('Nombre')">Nombre</a></li>
        <li><a class="dropdown-item" (click)="SortBy('Proveedor')">Proveedor</a></li>
        <li><a class="dropdown-item" (click)="SortBy('Precio')">Precio</a></li>
      </ul>
    </div>

    <input type="text" name="" id="searchInput" placeholder="Busqueda" [(ngModel)]="searchInput">

    <button class="btn btn-info" type="submit" (click)="searchBy()">Buscar</button>


    <br>
    <div class="table-scroll" id="stock-table" >
      <div class="table-responsive">
        <table class="table table-hover table-dark">
          <tr>

            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
          </tr>
          <tbody>
            <tr *ngFor="let producto of ArrayProductos" (click)="openForEdit(producto)"
              [class.active]="newProducto == producto">
              <td>{{producto.id}}</td>
              <td>{{producto.nombre}}</td>
              <td>{{producto.stock}}</td>
              <td>${{producto.valorProducto}}</td>
            </tr>
          </tbody>
        </table>


        <div id="buttons">
          <button class="btn btn-warning" (click)="addToCart()" id="cart-button"><img id="cart-icon"
              src="assets/Icons/cart-icon.png" alt=""></button>
          <button class="btn btn-success" (click)="vender()">Venta</button>
          <label>Total: ${{total}}</label>
        </div>
      </div>
    </div>





    <div class="cart-wrapper">
      <div class="table-scroll">
        <div class="table-responsive">
          <table class="table table-hover table-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Unidades</th>
              <th scope="col">Precio</th>
            </tr>
            <tbody>
              <tr *ngFor="let producto of ArrayCarrito">
                <td>{{producto.nombre}}</td>
                <td><button id="-" class="fas fa-minus" (click)="minus(producto.id)"></button> {{producto.stock}} <button id="+"
                    class="fas fa-plus" (click)="add(producto.id)"></button></td>
                <td>${{producto.valorProducto}}</td>
                <td> <button class="btn btn-danger" (click)="pop(producto.id)"><i
                      class="far fa-times-circle"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- <button (click)="downloadXLS()">Descarga xls</button> -->
  </div>




</div>

<app-venta-pop-up [showMePartially]="!showVar"></app-venta-pop-up>