h1{
    position: relative;
    right: 5%;  
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  label, p {
    
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
  }

  #searchInput{
      position: relative;
      right: 65%;
      width: 61%;
  }
  
  #btn-Back{
    position: relative;
    right: 50%;
    
    
  }
  .wrapper {
      display: grid;
      grid-template-columns:  1fr 1fr;
      margin: 0px;
      gap : 1em;
      padding-left: 15%;
      position: relative;
      right: 10%;
    }
    
    .inputs {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
      gap: 1em;
    }
  
    .buttons{
        position: relative;
        left: 15%;
        padding-left: 15%;
        padding-top: 2%;
        gap: 10%;
    }
  
  
  .active {
    background-color: #666;
    color: white;
  }
  
  th{
    font-family: 'Roboto', sans-serif;
    color: #666;
  }

  #cart-icon{
    width: 30px;
  }
  
  .buttons-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1f;
  }
  .cart-wrapper{
    position: relative;
    bottom: 40%;
  }
  .table-scroll {
    height:380px;
    overflow:auto;  
    margin-top:80px;
  }