.wrapper {
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

.item{
    width: max-content;
    padding-bottom: 10px;
}

button{
    width: 200px;
    height: 200px;
}

@media (max-width: 400px){
    .wrapper{
        grid-template-columns: 1fr;
        margin: 0;
    }

   

}