<div class="container" style="padding-top: 12%;">
    <h1>Menu Principal</h1>
        <div class="wrapper">
            <div class="item">
                <button class="btn btn-info" routerLink="/arriendo">Arriendo</button>
            </div>
            <div class="item">
                <button class="btn btn-success" routerLink="/venta">Venta</button>
            </div>
            <div class="item">
                <button class="btn btn-warning" routerLink="/inventario">Inventario</button>
            </div>
            <div class="item" >
                <button id="trabajadores" class="btn btn-info" routerLink="/trabajadores">Trabajadores</button>
            </div>
        </div>
        <button (click)='delCookies()' class="btn" routerLink="/inicio"><i class="fas fa-arrow-circle-left">
            Salir</i></button>

</div>