<div class="container" >
    <h1>Reserva tu hora</h1>
    <!-- <div class="card">
        Reserva: 
        <div class="form-group">
            <input type="text" [(ngModel)]="seleccionReserva.rutCliente"  placeholder="Inserte su rut" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="seleccionReserva.idProducto"  placeholder="Inserte id espacio a arrendar" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="seleccionReserva.horaReserva"  placeholder="Inserte la hora de la reserva" class="form-control">
        </div> 
        
    </div>
    <div class="card2">
        <ul class="list-group">
            <li *ngFor="let reserva of reservasArray" class="list-group-item list-group-item-action">
                <span>{{reserva.id}}</span>  - {{reserva.rutCliente}} - {{reserva.idProducto}} - {{reserva.horaReserva}}
            </li>
        </ul>
    </div> -->

    <app-agenda>
        
    </app-agenda>

</div>

